body {
	padding: 54px 52px;
	font-family: "BPG Square", sans-serif;
}

header {
	margin-bottom: 44px;
}

img {
	vertical-align: middle;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

ul {
	display: inline-block;  
}

li {
	display: inline-block;
}

a {
	font-size: 26px;
	font-weight: 700px;
	color: #8D81FF;
}

.mtavari {
	color: #4E6FAE;
	margin-left: 60px;
}

.siaxleebi {
	margin-left: 87px;
}

.kontaqti {
	margin-left: 81px;
}


.im {
	vertical-align: text-top;
}

.line {
	display: inline-block;
	border: 2px solid;
	color: #5012D5;
	height: 40px;
	vertical-align: middle;
	margin: 0 41px;
}



footer {
	margin-top: 143px;
	margin-left: 194px;
}

.im {
	margin-top: 97px;
	margin-left: 194px;
}

.html {
	display: inline-block;
}
.news {
	display: inline-block;
	font-size: 26px;
	line-height: 31.2px;
	font-weight: 700px;
	color: #4E6FAE;
	margin-top: 120px;
	margin-left: 194px;
}

.details {
	display: inline-block;
	font-size: 26px;
	font-weight: 400px;
	line-height: 31.2px;
	color: #4E6FAE;
}

.developer {
	background-color: #E7E7E7;
	width: 500px;
	height: 192px;
	margin-left: 192px;
	margin-top: 26px;
	display: inline-block;
}

h4 {
	font-size: 20px;
	font-weight: 400px;
	line-height: 24.14px;
	padding-top: 21px;
	padding-left: 23px;
	font-family: "Roboto", sans-serif;
}

.lupa {
	margin-left: 36px;
	margin-top: px;
	width: 77px;
	height: 77px;
	font-family: "Roboto", sans-serif;
}

.web {
	display: inline-block;
	width: 335px;
	font-size: 16px;
	font-weight: 400px;
	line-height: 19.31px;
	color: #7E8898;
	margin-top: 20px;
	margin-left: 37px;
	vertical-align: middle;
	font-family: "Roboto", sans-serif;
}

.developer1 {
	background-color: #E7E7E7;
	width: 500px;
	height: 192px;
	margin-left: 52px;
	margin-top: 26px;
	display: inline-block;
}